@import '../styles/shared.scss';

.Landing {
  > .hero {
    width: 100%;
    color: #333;

    > .title,
    > .second-title {
      margin: 0;
      width: 100%;
      padding-top: px(80);
      @include font-size(48, 48 * 1.15);
      text-transform: uppercase;
    }

    > .description {
      margin-top: px(45);
      font-size: px(18);
      @include font-size(30, 30 * 1.2);
    }

    @include animateInit {
      > .second-title,
      > .description {
        @include defaultAnimateInit();
      }
    }

    @include animateIn {
      > .second-title,
      > .description {
        @include defaultAnimateIn(0.5s);
      }
    }
  }

  > .dev {
    margin-top: px(40);

    > .dev-title {
      @include font-size(26, 30, 1);
    }

    > .dev-description {
      margin-top: px(20);
      @include font-size(20, 24, 1.2);
    }
  }
}
