@import '../styles/shared.scss';

.Landing {
  > .hero {
    width: 100%;
    color: #333;

    > .title {
      margin: 0;
      width: 100%;
      padding-top: px(80);
      line-height: 1.15;
      font-size: px(48);
    }

    > .description {
      margin-top: px(45);
      font-size: px(18);
    }

    @include animateInit {
      > .title,
      > .description {
        @include defaultAnimateInit;
      }
    }

    @include animateIn {
      > .title {
        @include defaultAnimateIn(0s);
      }

      > .description {
        @include defaultAnimateIn(0.5s);
      }
    }
  }

  > .dev {
    margin-top: px(40);

    > .dev-title {
      @include font-size(25, 30, 1);
    }

    > .dev-description {
      margin-top: px(20);
      @include font-size(16, 18, 1.2);
    }
  }
}
